.jop-panelParent {
  position: relative;
}
.jop-panel {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: -3px;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 17.5px;
  /* border-radius: 15px 0 0 15px; */
  background-color: white;
  /* box-shadow: rgb(0 0 0 / 26%) -3px 0px 8px; */
  transition: right 200ms ease-in-out;
}
.jop-closeBtn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10px;
  z-index: 1;
}
.jop-closeBtn-svg {
  height: 40px;
}
.jop-info {
  color: black;
  /* text-align: right; */
  height: 30px;
}
.jop-info-code {
  margin-bottom: 20px;
  color: #3272dc;
  font-size: 30px;
  cursor: pointer;
  font-family: system-ui, -apple-system;
  font-weight: bolder;
  font-style: italic;
}
.jop-info-actor {
  margin-top: 6px;
}
.jop-info-actor-item {
  padding: 3px 6px;
  color: #409eff;
  background: #ecf5ff;
  border: 1px solid #d9ecff;
  border-radius: 4px;
}
.jop-list {
  position: absolute;
  top: 115px;
  width: 90%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.jop-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 120px;
  padding: 3px 10px;
  border-radius: 8px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #606266;
  border: 1px solid #dcdfe6;
}
.jop-button:visited {
  color: #606266;
}
.jop-button:hover {
  text-decoration: none;
  color: #409eff;
  border: 1px solid #c6e2ff;
  background-color: #ecf5ff;
}

.jop-button_label {
  position: absolute;
  font-size: 10px;
  padding: 4px;
  border-radius: 4px;
  top: -8px;
  right: -10px;
  line-height: 0.75;
  color: white;
  background: #67c23a;
}

.jop-button_green {
  color: #67c23a !important;
  background-color: #f0f9eb;
  border: 1px solid #b3e19d;
}
.jop-button_green:hover {
  color: white !important;
  background-color: #67c23a;
}

.jop-button_red {
  color: #f56c6c !important;
  background-color: #fef0f0;
  border: 1px solid #fab6b6;
}
.jop-button_red:hover {
  color: white !important;
  background-color: #f56c6c;
}

.jop-loading {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  border: 2px dashed #dcdfe6;
  border-top-color: transparent;
  border-radius: 100%;
  animation: btnLoading infinite 1s linear;
}
@keyframes btnLoading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
