/*  */
.jop-panel {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: -3px;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 17.5px;
  /* border-radius: 15px 0 0 15px; */
  background-color: white;
  /* box-shadow: rgb(0 0 0 / 26%) -3px 0px 8px; */
  transition: right 200ms ease-in-out;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: black;
}

/*  */

.jop-top {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.jop-top-item {
  position: absolute;
  top: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.jop-top-close {
  right: 10px;
}
.jop-top-setting {
  position: absolute;
  right: 50px;
}
.jop-top-settingPanel {
  position: absolute;
  top: 60px;
  right: 20px;
  width: 230px;
  height: 150px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 26%) 0px -3px 8px;
  background: white;
}
.jop-top-settingPanel-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}
.jop-top-setting-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.jop-top-checkbox {
  margin-left: 20px;
  width: 14px;
  height: 14px;
}
/*  */
.jop-info {
  font-size: 16px;
}
.jop-info-code {
  margin-bottom: 20px;
  color: #3272dc;
  font-size: 30px;
  cursor: pointer;
  font-family: system-ui, -apple-system;
  font-weight: bolder;
  font-style: italic;
}
.jop-info-more {
  margin: 14px 0;
}
.jop-info-actor-item {
  margin-right: 13px;
}
/*  */

.jop-list {
  /* position: absolute; */
  /* top: 115px; */
  width: 85%;
  min-width: 226px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 6px;
  margin-top: 20px;
}

.jop-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* min-width: 50px; */
  padding: 3px 10px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #dcdfe6;
  color: #606266;
}
.jop-button:visited {
  color: #606266;
}
.jop-button:hover {
  text-decoration: none;
  color: #409eff;
  border: 1px solid #c6e2ff;
  background-color: #ecf5ff;
}

.jop-button_label {
  position: absolute;
  font-size: 10px;
  padding: 4px;
  border-radius: 4px;
  top: -13px;
  right: -10px;
  line-height: 0.75;
  color: #67c23a;
  border: 1px solid #e1f3d8;
  background: white;
}

.jop-button_green {
  color: white !important;
  background-color: #67c23a;
  /* border: 1px solid #b3e19d; */
}
.jop-button_green:hover {
  color: white !important;
  background-color: #95d475;
}

.jop-button_red {
  color: white !important;
  background-color: #f56c6c;
  /* border: 1px solid #fab6b6; */
}
.jop-button_red:hover {
  color: white !important;
  background-color: #f89898;
}

.jop-loading {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  border: 2px dashed #dcdfe6;
  border-top-color: transparent;
  border-radius: 100%;
  animation: btnLoading infinite 1s linear;
}
@keyframes btnLoading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*  */
.jop-tag {
  padding: 3px 6px;
  color: #409eff;
  background: #ecf5ff;
  border: 1px solid #d9ecff;
  border-radius: 4px;
}
